<div>
  <div class="amHeader clearfix">
    <div class="search fl">
      <Input class="searchInput" v-model="listForm.name" autocomplete="off" icon="search" placeholder="搜尺码表名" @on-click="searchData" @on-enter="searchData"/>
    </div>
    <div class="operationBtn fr">
      <Button type="primary" class="blue" @click="editSizeChart('','新增尺码表')">新增尺码表</Button>
    </div>
  </div>
  <div class="amBox mgt20">
    <table class="aiTable">
      <thead>
      <tr>
        <th v-for="(item,index) in theadData" :key="item.index" :width="item.width">
          <div class="tdCell" :class="item.class">{{ item.name }}</div>
        </th>
      </tr>
      </thead>
      <tbody v-if="tbodyData.length">
      <tr v-for="(item,index) in tbodyData" :key="item.sizeTableId">
        <td>
          <div class="tdCell">{{ item.name }}</div>
        </td>
        <td>
          <div class="tdCell ta-c">
            <div class="iconfontList dibList">
              <button class="iconfont icon-edit" @click="editSizeChart(item.sizeTableId, '编辑尺码表')" title="编辑尺码表"></button>
              <button class="iconfont icon-copy" @click="copySizeChart(item.sizeTableId)" title="复制尺码表"></button>
              <button class="iconfont icon-trash" @click="showConfirm(item.sizeTableId, '确定删除尺码表' + item.name + '吗？')" title="删除尺码表"></button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody v-else="tbodyData.length">
      <tr>
        <td class="ta-c" :colspan="theadData.length">
          <div class="tdCell">暂无数据</div>
        </td>
      </tr>
      </tbody>
    </table>
    <Page v-if="ui.total > ui.pageSize ? true : false" class="mgt30 ta-c"
          :current="listForm.pageIndex"
          :page-size="ui.pageSize" :total="ui.total"
          show-total show-elevator
          @on-change="changePage"></Page>
    <!--info model-->
    <confirm-modal :cd="confirmData" :ui="ui" :cb="confirmCB"></confirm-modal>
    <Modal class="customModal" v-model="ui.showEditModal" width="940" :mask-closable="false"
           ok-text="保存">
      <h2 class="modalTitle" slot="header">
        <span>{{ ui.infoTitle }}</span>
      </h2>
      <div class="modalBox" :style="{ maxHeight: modalHeight + 'px'}">
        <div class="modalMain">
          <Form ref="editData" label-position="left" :model="editData" :label-width="80">
            <FormItem label="尺码表名">
              <Input style="width: 300px;" v-model="editForm.name" placeholder="请输入尺码表名称"/>
            </FormItem>
            <div class="customFormItem clearfix">
              <Checkbox v-model="mainChecked" class="fl" @on-change="mainChange">主尺码表</Checkbox>
            </div>
            <div class="customItemsSmall" v-if="mainChecked">
              <FormItem label="X轴">
                  <span class="sizeName" v-for="item in editData.sizeTypes" :key="item.paramId"
                        :class="{active: item.paramId === editForm.xAxis}" @click="changeX(item.paramId, item.paramValue)">{{ item.paramValue }}</span>
              </FormItem>
              <FormItem label="Y轴">
                <span class="sizeName" v-for="item in editData.sizeTypes" :key="item.paramId"
                      :class="{active: item.paramId === editForm.yAxis}" @click="changeY(item.paramId, item.paramValue)">{{ item.paramValue }}</span>
              </FormItem>
              <div class="mainSizeChart clearfix">
                <ul class="sizeChart mgt10">
                  <li class="clearfix" v-for="(items, index) in editForm.mainSizeTableList">
                    <div class="sizeChartOne" v-for="(item, x) in items" :key="x">
                      <span>
                        <input v-if="index === 0 && x === 0" v-model="items[x]" disabled/>
                        <!--<input v-else-if="index === 0 || x === 0" v-model="items[x]"/>-->
                        <Poptip v-if="index === 0 && x !== 0" placement="right-start">
                          <input v-model="items[x]"/>
                            <div class="delPoptips" slot="content">
                              <!--<div class="customOpera minus fl" @click="fnMinusMainChartRow(index)">删除该行</div>-->
                              <div class="customOpera minus fl" @click="fnMinusMainChartCol(x)">删除该列</div>
                            </div>
                        </Poptip>
                        <Poptip v-if="index !== 0 && x === 0" placement="right-start">
                          <input v-model="items[x]"/>
                            <div class="delPoptips" slot="content">
                              <div class="customOpera minus fl" @click="fnMinusMainChartRow(index)">删除该行</div>
                              <!--<div class="customOpera minus fl" @click="fnMinusMainChartCol(x)">删除该列</div>-->
                            </div>
                        </Poptip>
                        <Poptip v-if="index !== 0 && x !== 0" placement="right-start">
                          <input v-model="items[x]"/>
                            <div class="delPoptips" slot="content">
                              <div class="customOpera minus fl" @click="fnMinusMainChartRow(index)">删除该行</div>
                              <div class="customOpera minus fl" @click="fnMinusMainChartCol(x)">删除该列</div>
                            </div>
                        </Poptip>
                      </span>
                    </div>
                  </li>
                </ul>
                <div class="sizeChartBtns mgl10">
                  <div class="customOpera plus fl" @click="fnPlusMainChartCol">
                    <Icon type="plus-round"></Icon>
                  </div>
                </div>
              </div>
              <div class="operaCol clearfix">
                <div class="sizeChartBtns fl">
                  <div class="customOpera plus fl" @click="fnPlusMainChartRow">
                    <Icon type="plus-round"></Icon>
                  </div>
                </div>
              </div>
            </div>
            <!--<FormItem class="mgt20" label="尺码图">-->
            <!--<img v-if="editData.pic !== ''" class="sizeChartPic" :src="editData.pic">-->
            <!--<div v-else="editData.pic !== ''" class="sizeChartPicUpload">-->
            <!--<Icon type="plus-round"></Icon>-->
            <!--</div>-->
            <!--</FormItem>-->
            <div class="customFormItem mgt20 clearfix">
              <Checkbox v-model="assistChecked" class="fl" @on-change="assistChange">辅助尺码表</Checkbox>
            </div>
            <div v-if="assistChecked">
                <span class="sizeName" v-for="item in editData.sizeTypes" :key="item.paramId"
                      :class="{active: item.paramId === editForm.xAxisAssist}" @click="changeAssistX(item.paramId, item.paramValue)">{{ item.paramValue }}</span>
              <div class="orangeText">当买家无法提供上述尺码表信息时，可用辅助尺码表进行推</div>
              <div class="clearfix">
                <ul class="sizeChart mgt10">
                  <li class="clearfix">
                    <div class="sizeChartOne">
                      <span><input disabled="true" :value="editShowData.xAxisAssist" type="text"/></span>
                      <!--<span v-else="editShowData.xAxisAssist === ''">{{ editShowData.xAxisAssist }}</span>-->
                    </div>
                    <div class="sizeChartOne" v-for="(item,index) in editForm.assistSizeTable" :key="index">
                      <span>
                        <input v-model="item.param"/>
                      </span>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="sizeChartOne"><span>尺码</span></div>
                    <div class="sizeChartOne" v-for="(item,index) in editForm.assistSizeTable" :key="index">
                      <span><input v-model="item.value"/></span>
                    </div>
                  </li>
                </ul>
                <div class="sizeChartBtns mgl10">
                  <div class="customOpera plus fl" @click="fnPlusAssistChart">
                    <Icon type="plus-round"></Icon>
                  </div>
                  <div class="customOpera minus fl" @click="fnMinusAssistChart">
                    <Icon type="minus-round"></Icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="mgt20 clearfix">
              <Checkbox v-model="editForm.isDefault" class="fl" :true-value="1" :false-value="0" number>设置为默认尺码表</Checkbox>
            </div>
            <div class="mgt10 clearfix" v-if="editForm.isDefault === 1">
              <Checkbox v-for="(item, index) in editForm.productTypeList" :key="item.productType + index" v-model="item.checked" >{{ item.productType }}</Checkbox>
            </div>
          </Form>
        </div>
      </div>
      <div slot="footer">
        <Button type="primary" @click="saveSizeChart">确定</Button>
        <Button type="text" @click="ui.showEditModal = false">取消</Button>
      </div>
    </Modal>
  </div>
</div>
