<div class="amHeader clearfix">
  <div class="chatbot" v-show="isConnect">
    <h5 class="talk-title">正在和 <span class="J_userName">【{{ shopName }}】{{ nick }}</span> 聊天</h5>
    <ul ref="chatContainer" class="talk-list clearfix" :style="{ height: talkHeight + 'px'}">
      <template v-for="item in talkData">
        <li class="talk-one clearfix" :class="[item.type === 0 ? 'talk-right' : 'talk-left']">
          <div class="talk-user-pic"><i class="iconfont" :class="[item.type === 0 ? 'icon-user' : 'icon-robot']"></i></div>
          <div class="talk-box">
            <div class="talk-intro">
              <template v-if="item.type === 1">
                {{ item.user }}
              </template>
              <span>({{ item.times }})</span>
            </div>
            <div class="talk-topic">
              <div class="talk-text">
                <span class="red" v-if="item.needHuman">(转人工)</span>
                {{ item.value }}
              </div>
            </div>
          </div>
        </li>
      </template>
    </ul>
    <div class="msg-textarea">
      <textarea
        class="textarea-int" name="" id="J_textBtn"
        @keyup="sendMsg($event)"
        v-model="msgValue"></textarea>
    </div>
  </div>
</div>
