<div class="amBox">
  <div class="settingBox">
    <Form :model="settingForm" :label-width="120" label-position="left">
      <Row>
        <Col span="11" class="mgr20">
        <Card>
          <p slot="title">店铺AI开关</p>
          <FormItem label="开启店铺AI">
            <i-switch v-model="settingForm.enableShopAi" @on-change="changeStatus" size="large" :true-value="1" :false-value="0">
              <span slot="open">启用</span>
              <span slot="close">禁用</span>
            </i-switch>
          </FormItem>
        </Card>
        <Card class="mgt20" v-if="settingForm.enableShopAi === 1">
          <p slot="title">其他设置</p>
          <FormItem label="店铺催单">
            <i-switch v-model="settingForm.remind" size="large" :true-value="1" :false-value="0">
              <span slot="open">启用</span>
              <span slot="close">禁用</span>
            </i-switch>
          </FormItem>
         <FormItem label="是否有线下门店">
            <i-switch v-model="settingForm.offlineStore" size="large" :true-value="1" :false-value="0">
              <span slot="open">有</span>
              <span slot="close">无</span>
            </i-switch>
          </FormItem>
          <FormItem label="机器人回复间隔(s)">
            <el-select v-model="settingForm.replyDelay" size="mini" filterable clearable placeholder="请选择">
              <el-option
                v-for="item in replyDelayList"
                :key="item.key + item.value"
                :label="item.value"
                :value="item.key">
              </el-option>
            </el-select>
          </FormItem>
          <!--<FormItem label="引导间隔时间">-->
            <!--<el-input-->
              <!--style="width: 174px"-->
              <!--placeholder="引导间隔时间"-->
              <!--v-model="settingForm.guidedInterval"-->
              <!--size="mini"-->
              <!--clearable>-->
            <!--</el-input>-->
            <!--分钟-->
          <!--</FormItem>-->
          <FormItem label="会话周期">
            <el-input
              style="width: 174px"
              placeholder="会话周期"
              v-model="settingForm.sessionTime"
              size="mini"
              clearable>
            </el-input>
            分钟
          </FormItem>
          <FormItem label="买家称呼">
            <el-input
              placeholder="买家称呼"
              v-model="settingForm.buyerNick"
              size="mini"
              clearable>
            </el-input>
          </FormItem>
          <FormItem label="金牌客服">
            <el-input
              placeholder="金牌客服"
              v-model="settingForm.bestCustomService"
              size="mini"
              clearable>
            </el-input>
          </FormItem>
          <FormItem label="客服主管账号">
            <div class="customOpera plus fr" @click="addArr(settingForm.serviceList)">
              <Icon type="plus-round"></Icon>
            </div>
            <div v-for="(item, index) in settingForm.serviceList" style="width: 300px; margin-bottom: 15px;">
              <el-input
                placeholder="客服主管账号"
                v-model="settingForm.serviceList[index]"
                style="width: 200px"
                size="mini"
                clearable>
              </el-input>
              <div class="customOpera minus fr" @click="minusArr(settingForm.serviceList, index)" v-if="settingForm.serviceList.length > 1">
                <Icon type="minus-round"></Icon>
              </div>
            </div>
          </FormItem>
          <FormItem label="转人工前置话术">
            <el-input
              placeholder="转人工前置话术"
              v-model="settingForm.humanAnswerPre"
              size="mini"
              clearable>
            </el-input>
          </FormItem>
          <FormItem label="欢迎语">
            <u-meditor :content="um.content" :config="um.config" :toolbar="um.toolbar" ref="umeditor"></u-meditor>
          </FormItem>
        </Card>
        </Col>
        <Col span="11" v-if="settingForm.enableShopAi === 1">
        <Card>
          <p slot="title">夜间值守设置</p>
          <FormItem label="夜间值守">
            <i-switch v-model="settingForm.nightEnable" size="large" :true-value="1" :false-value="0">
              <span slot="open">启用</span>
              <span slot="close">禁用</span>
            </i-switch>
          </FormItem>
          <template v-if="settingForm.nightEnable">
            <FormItem label="夜间值守时间">
              <TimePicker type="time" :value="this.nightTime.start" @on-change="changeStartTimes" format="HH:mm" style="width: 127px" placeholder="开始时间"></TimePicker>
              <span>-</span>
              <TimePicker type="time" :value="this.nightTime.end" @on-change="changeEndTimes" format="HH:mm" style="width: 127px" placeholder="结束时间"></TimePicker>
            </FormItem>
            <FormItem label="夜间值守统一回复">
              <el-input
                placeholder="夜间值守统一回复"
                v-model="settingForm.nightAnswer"
                size="mini"
                clearable>
              </el-input>
            </FormItem>
          </template>
        </Card>
        <Card class="mgt20">
          <p slot="title">全局答案设置</p>
          <FormItem label="重复标签转人工设置">
            <i-switch v-model="settingForm.labelRepeat" size="large" :true-value="1" :false-value="0">
              <span slot="open">启用</span>
              <span slot="close">禁用</span>
            </i-switch>
          </FormItem>
          <div class="setting-cbox" v-if="settingForm.labelRepeat === 1">
            <div class="cbox-title">在规定时间内，连续进入多次相同的标签则转人工</div>
            <FormItem label="时间长度">
              <el-input
                placeholder="时间长度"
                style="width: 174px"
                v-model="settingForm.labelIntervalTime"
                size="mini"
                clearable>
              </el-input>
              秒
            </FormItem>
            <FormItem label="进入次数">
              <el-input
                placeholder="进入次数"
                style="width: 174px"
                v-model="settingForm.labelRepeatTimes"
                size="mini"
                clearable>
              </el-input>
            </FormItem>
          </div>
          <FormItem label="重复回答转人工设置">
            <i-switch v-model="settingForm.answerRepeat" size="large" :true-value="1" :false-value="0">
              <span slot="open">启用</span>
              <span slot="close">禁用</span>
            </i-switch>
          </FormItem>
          <div class="setting-cbox" v-if="settingForm.answerRepeat === 1">
            <div class="cbox-title">在规定时间内，连续进入多次相同的回答则转人工</div>
            <FormItem label="时间长度">
              <el-input
                style="width: 174px"
                placeholder="时间长度"
                v-model="settingForm.answerIntervalTime"
                size="mini"
                clearable>
              </el-input>
              秒
            </FormItem>
            <FormItem label="进入次数">
              <el-input
                style="width: 174px"
                placeholder="进入次数"
                v-model="settingForm.answerRepeatTimes"
                size="mini"
                clearable>
              </el-input>
            </FormItem>
          </div>
        </Card>
        </Col>
      </Row>
    </Form>
    <div class="mgt20">
      <Button type="success" icon="checkmark" @click="saveSetting">保存</Button>
    </div>
  </div>
</div>
