<div class="amBox">
  <div class="reminderBox">
    <Form :model="reminder" :label-width="100" label-position="left">
      <Card>
        <p slot="title">催下单</p>
        <div slot="extra">
          <div class="customOpera plus" v-if="reminder.order.length < 3" @click="plusReminder(reminder.order, 1)">
            <Icon type="plus-round"></Icon>
          </div>
        </div>
        <template v-for="(item, index) in reminder.order">
          <FormItem class="reminder-item" :label="'第' + (index + 1) + '次触发条件'">
            <template v-if="index === 0">
              <span>获取</span>
              <Input @on-keyup="numKeyup(item.start, reminder.order, index, 'start')" v-model="item.start" class="reminder-input" :maxlength="4"/>
              <span>分钟到</span>
              <Input @on-keyup="numKeyup(item.end, reminder.order, index, 'end')" v-model="item.end" class="reminder-input" :maxlength="4"/>
              <span>分钟内咨询未购买的记录，催促买家下单</span>
            </template>
            <template v-if="index > 0">
              <span>第{{ index }}次催促后</span>
              <Input @on-keyup="numKeyup(item.start, reminder.order, index, 'start')" v-model="item.start" class="reminder-input" :maxlength="4"/>
              <span>分钟到</span>
              <Input @on-keyup="numKeyup(item.end, reminder.order, index, 'end')" v-model="item.end" class="reminder-input" :maxlength="4"/>
              <span>分钟内仍未下单，催促买家下单</span>
            </template>
            <div class="customOpera minus fr" v-if="(index + 1) === reminder.order.length && index !== 0" @click="minusReminder(reminder.order, index)">
              <Icon type="minus-round"></Icon>
            </div>
          </FormItem>
          <FormItem label="话术">
            <el-input
              type="textarea"
              size="mini"
              :rows="4"
              placeholder="请输入催单话术"
              v-model="item.content">
            </el-input>
          </FormItem>
        </template>
      </Card>
      <Card class="mgt20">
        <p slot="title">催付款</p>
        <div slot="extra">
          <div class="customOpera plus" v-if="reminder.pay.length < 3" @click="plusReminder(reminder.pay, 2)">
            <Icon type="plus-round"></Icon>
          </div>
        </div>
        <template v-for="(item, index) in reminder.pay">
          <FormItem class="reminder-item" :label="'第' + (index + 1) + '次触发条件'">
            <template v-if="index === 0">
              <span>获取</span>
              <Input @on-keyup="numKeyup(item.start, reminder.pay, index, 'start')" v-model="item.start" class="reminder-input" :maxlength="4"/>
              <span>分钟到</span>
              <Input @on-keyup="numKeyup(item.end, reminder.pay, index, 'end')" v-model="item.end" class="reminder-input" :maxlength="4"/>
              <span>分钟内下单未付款的订单，催促买家付款</span>
            </template>
            <template v-if="index > 0">
              <span>第{{ index }}次催促后</span>
              <Input @on-keyup="numKeyup(item.start, reminder.pay, index, 'start')" v-model="item.start" class="reminder-input" :maxlength="4"/>
              <span>分钟到</span>
              <Input @on-keyup="numKeyup(item.end, reminder.pay, index, 'end')" v-model="item.end" class="reminder-input" :maxlength="4"/>
              <span>分钟内仍未付款，催促买家付款</span>
            </template>
            <div class="customOpera minus fr" v-if="(index + 1) === reminder.pay.length && index !== 0" @click="minusReminder(reminder.pay, index)">
              <Icon type="minus-round"></Icon>
            </div>
          </FormItem>
          <FormItem label="话术">
            <el-input
              type="textarea"
              size="mini"
              :rows="4"
              placeholder="请输入付款话术"
              v-model="item.content">
            </el-input>
          </FormItem>
        </template>
      </Card>
      <Card class="mgt20">
        <p slot="title">催好评</p>
        <div slot="extra">
          <div class="customOpera plus" v-if="reminder.positive.length < 3" @click="plusReminder(reminder.positive, 3)">
            <Icon type="plus-round"></Icon>
          </div>
        </div>
        <template v-for="(item, index) in reminder.positive">
          <FormItem class="reminder-item" :label="'第' + (index + 1) + '次触发条件'">
            <template v-if="index === 0">
              <span>获取</span>
              <Input @on-keyup="numKeyup(item.start, reminder.positive, index, 'start')" v-model="item.start" class="reminder-input" :maxlength="4"/>
              <span>分钟到</span>
              <Input @on-keyup="numKeyup(item.end, reminder.positive, index, 'end')" v-model="item.end" class="reminder-input" :maxlength="4"/>
              <span>分钟内已确认收货但未评价的买家，催促买家好评</span>
            </template>
            <template v-if="index > 0">
              <span>第{{ index }}次催促后</span>
              <Input @on-keyup="numKeyup(item.start, reminder.positive, index, 'start')" v-model="item.start" class="reminder-input" :maxlength="4"/>
              <span>分钟到</span>
              <Input @on-keyup="numKeyup(item.end, reminder.positive, index, 'end')" v-model="item.end" class="reminder-input" :maxlength="4"/>
              <span>分钟内仍未评价，催促买家好评</span>
            </template>
            <div class="customOpera minus fr" v-if="(index + 1) === reminder.positive.length && index !== 0" @click="minusReminder(reminder.positive, index)">
              <Icon type="minus-round"></Icon>
            </div>
          </FormItem>
          <FormItem label="话术">
            <el-input
              type="textarea"
              size="mini"
              :rows="4"
              placeholder="请输入催好评话术"
              v-model="item.content">
            </el-input>
          </FormItem>
        </template>
      </Card>
      <Card class="mgt20">
        <p slot="title">结束语</p>
        <FormItem class="reminder-item" label="触发条件">付款后</FormItem>
        <FormItem label="话术">
          <!--<u-meditor :content="um.payContent" :config="um.config" :toolbar="um.toolbar" ref="orderUm" :id="index"></u-meditor>-->
          <el-input
            type="textarea"
            size="mini"
            :rows="4"
            placeholder="请输入结束语话术"
            v-model="reminder.end">
          </el-input>
        </FormItem>
      </Card>
    </Form>
    <div class="mgt20">
      <Button type="success" icon="checkmark" @click="saveReminder">保存</Button>
    </div>
  </div>
</div>
