<div>
  <div class="amHeader clearfix">
    <div class="operationBtn fr">
      <Button type="primary" class="blue" @click="editGuide('', '新增话术')">新增话术</Button>
    </div>
  </div>
  <div class="amBox mgt20">
    <table class="aiTable">
      <thead>
      <tr>
        <th v-for="(item, index) in theadData" :key="item.index" :width="item.width">
          <div class="tdCell" :class="item.class">{{ item.name }}</div>
        </th>
      </tr>
      </thead>
      <tbody v-if="tbodyData.length">
      <tr v-for="(item, index) in tbodyData" :key="item.guidedWordsId">
        <td>
          <div class="tdCell">{{ item.wordsTheme }}</div>
        </td>
        <td>
          <div class="tdCell">{{ item.wordsContent }}</div>
        </td>
        <td>
          <div class="tdCell ta-c">
            <div class="iconfontList dibList">
              <button class="iconfont icon-edit" title="编辑话术" @click="editGuide(item.guidedWordsId, '编辑话术')"></button>
              <button class="iconfont icon-trash" title="删除话术" @click="showConfirm(item.guidedWordsId, '确定删除话术:' + item.wordsContent + '吗？')"></button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody v-else="tbodyData.length">
      <tr>
        <td class="ta-c" :colspan="theadData.length">
          <div class="tdCell">暂无数据</div>
        </td>
      </tr>
      </tbody>
    </table>
    <Page v-if="ui.total > ui.pageSize ? true : false" class="mgt30 ta-c"
          :current="listForm.pageIndex"
          :page-size="ui.pageSize" :total="ui.total"
          show-total show-elevator
          @on-change="changePage"></Page>
  </div>
  <confirm-modal :cd="confirmData" :ui="ui" :cb="confirmCB"></confirm-modal>
  <Modal class="customModal" v-model="ui.showEditModal" width="560" :mask-closable="false">
    <h2 class="modalTitle" slot="header">
      <span>{{ ui.infoTitle }}</span>
    </h2>
    <div class="modalBox">
      <el-form :model="editData" label-width="80px" size="mini" label-position="left">
        <el-form-item label="会话主题">
          <el-select v-model="editData.wordsTheme" placeholder="请选择会话主题" style="width: 100%;">
            <el-option
              v-for="(item, index) in wordsThemes"
              :key="wordsThemes[index]"
              :label="wordsThemes[index]"
              :value="wordsThemes[index]"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="话术">
          <el-input type="textarea" :autosize="{ minRows: 3, maxRows: 6}" v-model="editData.wordsContent"></el-input>
        </el-form-item>
      </el-form>
    </div>
    <div slot="footer">
      <Button type="success" :disabled="ui.isAjax" @click="saveEdit()">保存</Button>
      <Button type="text" @click="ui.showEditModal = false">取消</Button>
    </div>
  </Modal>
</div>
