<div>
  <div class="amHeader clearfix">
    <div class="search fl">
      <Input class="searchInput" v-model="listForm.description" autocomplete="off" icon="search" placeholder="搜问题" @on-click="searchData" @on-enter="searchData"/>
    </div>
    <div class="operationBtn fr">
      <Button type="primary" class="blue" @click="addKnowledge">新建自定义问题</Button>
    </div>
  </div>
  <div class="officialMain amBox mgt20">
    <table class="aiTable">
      <thead>
      <tr>
        <th v-for="(item,index) in theadData" :key="item.index" :width="item.width">
          <div class="tdCell">{{ item.name }}</div>
        </th>
      </tr>
      </thead>
      <tbody v-if="tbodyData.length">
      <tr v-for="items in tbodyData" :key="items.aiLabelId">
        <td>
          <div class="tdCell">{{ items.description }}</div>
        </td>
        <td>
          <div class="tdCell tdNoPad">
            <ul class="customList">
              <template v-if="items.questions.length">
                <li class="customOne clearfix" v-for="item in items.questions" :key="item.quesId">
                  <span>{{ item.content }}</span>
                  <div class="iconfontList ta-c fr">
                    <button class="iconfont icon-edit" @click="editModal(item.quesId,items.kdgBaseId)"></button>
                    <button class="iconfont icon-trash" @click="showConfirm(item.quesId,'确定删除问法' + item.content + '吗？',2)"></button>
                  </div>
                </li>
              </template>
              <p class="ta-c customOperaList clearfix">
                <span @click="editModal('',items.kdgBaseId)">添加问法</span>
              </p>
            </ul>
          </div>
        </td>
        <td>
          <div class="tdCell tdNoPad">
            <ul class="customList">
              <template v-if="items.answers.length">
                <li class="customOne clearfix" v-for="item in items.answers" :key="item.ansId">
                  <span class="criteria-answer">
                    <b v-if="item.default">[默认]</b>
                    <span v-if="item.type === 1" class="jump-text" @click="searchLabel(item.labelDesc)">
                      <Icon type="paper-airplane" size="16"></Icon> 跳转至：{{ item.labelDesc }}
                    </span>
                    <template v-else="item.type === 1">
                      <Tooltip v-if="item.needHuman === 1" class="customTips fl" placement="right-start">
                        <i style="color: #00a1ff; margin-right: 5px;" class="iconfont icon-kefu"></i>
                        <div slot="content">回复完转人工</div>
                      </Tooltip>
                      <Tooltip v-if="item.relatedTimes !== ''" class="customTips fl" placement="right-start">
                        <span class="custom-circle">{{ item.relatedTimes }}</span>
                        <div slot="content">
                          关联次数：{{ item.relatedTimesDesc }}
                        </div>
                      </Tooltip>
                      {{ item.content }}
                    </template>
                  </span>
                  <div class="iconList fr">
                    <button class="iconfont icon-edit" @click="showEditAnswerModal(item.ansId, items.kdgBaseId)"></button>
                    <button class="iconfont icon-trash" @click="showConfirm(item.ansId,'确定删除答案' + item.content + '吗？',3)"></button>
                  </div>
                </li>
              </template>
              <p class="ta-c customOperaList clearfix">
                <span @click="showEditAnswerModal('', items.kdgBaseId)">添加答案</span>
              </p>
            </ul>
          </div>
        </td>
        <td>
          <div class="tdCell">
            <div class="officialStatusBox ta-c">
              <span v-if="items.status === 1" style="color: #00a2ff">生效中</span>
              <span v-else-if="items.status === 0 || items.status === ''" style="color: #f47474">未生效</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tdCell">
            <div class="customBtns ta-c">
              <Button type="error" size="small"
                      @click="showConfirm(items.kdgBaseId,'确定删除' + items.description + '吗？',0)">删除
              </Button>
              <i-switch size="large" @on-change="changeEnable(items.kdgBaseId, items.status)" v-model="items.status" :true-value="1" :false-value="0">
                <span slot="open">启用</span>
                <span slot="close">禁用</span>
              </i-switch>
              <!--<Button type="warning" size="small" :disabled="items.status !== 0"-->
              <!--@click="showConfirm(items.kdgBaseId,'确定启用' + items.description + '吗？',1,1)">启用-->
              <!--</Button>-->
              <!--<Button type="default" size="small" :disabled="items.status !== 1"-->
              <!--@click="showConfirm(items.kdgBaseId,'确定禁用' + items.description + '吗？',1,0)">禁用-->
              <!--</Button>-->
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody v-else="tbodyData.length">
      <tr>
        <td class="ta-c" :colspan="theadData.length">
          <div class="tdCell">暂无数据</div>
        </td>
      </tr>
      </tbody>
    </table>
    <Page v-if="ui.total > ui.pageSize ? true : false" class="mgt30 ta-c"
          :current="listForm.pageIndex"
          :page-size="ui.pageSize" :total="ui.total"
          show-total show-elevator
          @on-change="changePage"></Page>
  </div>
  <!--新建知识库-->
  <Modal class="customModal" v-model="ui.showEditKnowledge" width="560" :mask-closable="false">
    <h2 class="modalTitle" slot="header"><span>新建自定义问题</span></h2>
    <div class="modalBox">
      <div class="modalMain">
        <Input type="textarea" v-model="knowledgeForm.description" :rows="4" placeholder="新建自定义问题"/>
      </div>
    </div>
    <div slot="footer">
      <Button type="primary" :disabled="ui.isAjax" @click="knowledgeSave">保存</Button>
      <Button type="text" @click="ui.showEditKnowledge = false">取消</Button>
    </div>
  </Modal>
  <!--新建问法-->
  <Modal class="customModal" v-model="ui.showEditQuestion" width="560" :mask-closable="false">
    <h2 class="modalTitle" slot="header"><span>问法编辑</span></h2>
    <div class="modalBox">
      <div class="modalMain">
        <Input type="textarea" v-model="questionForm.content" :rows="4" placeholder="新增问法"/>
      </div>
    </div>
    <div slot="footer">
      <Button type="primary" :disabled="ui.isAjax" @click="questionSave">确定</Button>
      <Button type="text" @click="ui.showEditQuestion = false">取消</Button>
    </div>
  </Modal>
  <!--二次确认-->
  <confirm-modal :cd="confirmData" :ui="ui" :cb="confirmCB"></confirm-modal>
  <!--答案操作-->
  <Modal class="customModal" v-model="ui.showEditAnswer" width="560" :mask-closable="false">
    <h2 class="modalTitle" slot="header">
      <span>答案编辑</span>
    </h2>
    <div class="modalBox" :style="{ maxHeight: modalHeight + 'px'}">
      <Form v-model="answerForm" label-position="left" :label-width="85">
        <FormItem label="问题描述">
          <Input v-model="answerForm.description" :disabled="isDefault" placeholder="请输入问题描述"/>
        </FormItem>
        <FormItem label="关联问法">
          <CheckboxGroup v-model="answerForm.questionList">
            <Checkbox  v-for="item in editData.questions" :key="item.quesId" :disabled="isDefault" :label="item.quesId">{{ item.content }}</Checkbox>
          </CheckboxGroup>
        </FormItem>
        <div class="customFormItem clearfix" style="position: relative;">
          <Checkbox class="fl" v-model="answerNewData.redirectLabelId.checked" @on-change="umStatus">跳转</Checkbox>
          <Select v-if="answerNewData.redirectLabelId.checked" class="fr" style="width: 431px;" v-model="answerForm.redirectLabelId" transfer filterable clearable>
            <Option v-for="(item, index) in ailabelList" :value="item.aiLabelId" :key="index">【{{ item.aiLabelId }}】{{ item.desc }}</Option>
          </Select>
        </div>
        <FormItem class="mgb10" label="答案内容" v-if="!answerNewData.redirectLabelId.checked">
          <div class="clearfix" v-if="answerForm.variables && answerForm.variables.length">
            <span class="lh24 fl mgr10">可插入变量</span>
            <div class="fl">
              <div class="customCheckbox">
                <span class="cone" v-for="item in editData.variables" :key="item.paramId" @click="selectedVariables(item.paramValue)">{{ item.paramValue }}</span>
              </div>
            </div>
          </div>
        </FormItem>
        <div class="umPosi mgb24" :class="{disabled : answerNewData.redirectLabelId.checked}">
          <RadioGroup class="inputToUm" v-model="answerForm.needHuman">
            <Radio :label="0" :key="0">正常回复</Radio>
            <Radio :label="1" :key="1">回复完转人工</Radio>
            <!--<Radio :label="2" :key="2">回复完转售后</Radio>-->
          </RadioGroup>
          <u-meditor :content="um.content" :config="um.config" :toolbar="um.toolbar" ref="umeditor"></u-meditor>
        </div>
        <FormItem label="关联时效">
          <Select v-model="answerForm.periodTimeId" :disabled="isDefault" clearable>
            <Option v-for="item in editData.periodTimes" :value="item.periodTimeId" :key="item.periodTimeId">{{ item.name }}</Option>
          </Select>
        </FormItem>
        <FormItem label="关联商品">
          <RadioGroup v-model="answerForm.relatedPro" @on-change="changeRelatedPro">
            <Radio :label="0" :key="0" :disabled="isDefault">全部</Radio>
            <Radio :label="1" :key="1" :disabled="isDefault">指定商品</Radio>
          </RadioGroup>
        </FormItem>
        <div v-if="answerForm.relatedPro === 1">
          <Input icon="search" v-model="productForm.name" @on-click="getProductData(1)" @on-enter="getProductData(1)" style="width: 216px" placeholder="搜索商品名，商品属性"/>
          <Table border class="modalCustomTable" :columns="products" :data="productsdata"
                 @on-selection-change="selectProducts"></Table>
          <Page size="small" v-if="ui.proTotal > ui.proPageSize ? true : false" class="mgt30 ta-c"
                :current="productForm.pageIndex"
                :page-size="ui.proPageSize" :total="ui.proTotal"
                show-total show-elevator
                @on-change="changeProPage"></Page>
        </div>
        <Tooltip content="敬请期待" placement="top" style="display: block;">
          <div class="customFormItem clearfix">
            <Checkbox class="fl" v-model="answerNewData.orderGuide.checked" :disabled="isDefault || developing">回答完成后触发下单引导</Checkbox>
            <Input class="fr" style="width: 340px" v-if="answerNewData.orderGuide.checked && !developing" v-model="answerNewData.orderGuide.value"/>
          </div>
        </Tooltip>
        <Tooltip content="敬请期待" placement="top" style="display: block;">
          <div class="customFormItem clearfix">
            <Checkbox class="fl" v-model="answerNewData.productRec.checked" :disabled="isDefault || developing">回答完成后触发商品推荐</Checkbox>
            <Input class="fr" style="width: 340px" v-if="answerNewData.productRec.checked && !developing" v-model="answerNewData.productRec.value"/>
          </div>
        </Tooltip>
        <div class="mgb10" style="text-align: center;">
          <Button type="dashed" class="moreConditions" v-model="answerForm.otherCondition" @click="otherConditions">其他关联条件
            <Icon type="ios-arrow-up"></Icon>
          </Button>
        </div>
        <template v-if="answerForm.otherCondition">
          <div class="customFormItem clearfix" style="position: relative;">
            <Checkbox class="fl" v-model="editData.questionPre.checked" @on-change="chooseQuestionPre" :disabled="isDefault">关联前置问题</Checkbox>
            <Select v-if="editData.questionPre.checked" class="fr" style="width: 410px;" v-model="answerForm.aiLabelId" :disabled="isDefault" transfer filterable clearable>
              <Option v-for="(item, index) in ailabelList" :value="item.aiLabelId" :key="index">【{{ item.aiLabelId }}】{{ item.desc }}</Option>
            </Select>
          </div>
          <div class="mgt20 clearfix">
            <Checkbox :disabled="isDefault" v-model="editData.timesRel.checked">关联次数</Checkbox>
            <div class="mgt10 clearfix">
              <div class="customCheckbox fl" v-if="editData.timesRel.checked">
                <template v-if="relatedTimes && relatedTimes.length">
                  <el-checkbox-group v-model="answerForm.relatedTimes" :disabled="isDefault" size="small" @change="changeRelatedTimes">
                    <el-checkbox-button v-for="item in relatedTimes" :label="item.value" :key="item.value">{{ item.content }}</el-checkbox-button>
                  </el-checkbox-group>
                </template>
              </div>
              <div class="customBtns fr">
                <Button class="custom plus" v-if="editData.timesRel.checked" @click="plusRelateTimes" :disabled="isDefault" icon="plus-round"></Button>
                <Button class="custom minus" v-if="editData.timesRel.checked && relatedTimes.length" @click="minusRelateTimes" :disabled="isDefault" icon="minus-round"></Button>
              </div>
            </div>
          </div>
          <div class="customCheckbox mgb10" v-for="items in otherConditionData" :key="items.name">
            <template v-if="items.items && items.items.length">
              <div>
                <Checkbox v-model="items.checked" :disabled="isDefault" :label="items.name">{{ items.title }}</Checkbox>
              </div>
              <el-radio-group class="mgt15" v-if="items.checked && !items.multiSelect" :disabled="!items.checked" v-model="items.checkedItem[0]" size="small">
                <el-radio-button :disabled="isDefault" v-for="item in items.items" :key="item.paramId" :label="item.paramId">{{ item.paramValue }}</el-radio-button>
              </el-radio-group>
              <el-checkbox-group class="mgt15" v-else="items.checked && items.multiSelect" :disabled="!items.checked" v-model="items.checkedItem" size="small">
                <el-checkbox-button :disabled="isDefault" v-for="item in items.items" :key="item.paramId" :label="item.paramId">{{ item.paramValue }}</el-checkbox-button>
              </el-checkbox-group>
            </template>
          </div>
          <Tooltip content="敬请期待" placement="top" style="display: block;">
            <h4 class="mgb10 clearfix">
              <Checkbox :disabled="isDefault || developing" v-model="editData.persona.checked">关联用户画像</Checkbox>
              <div class="customBtns fr" v-if="editData.persona.checked && !developing">
                <Button class="custom plus" @click="plusOtherAttribute(answerForm.persona, editData.persona.attributes[0].value, editData.persona.relations[0].value)" icon="plus-round"></Button>
              </div>
            </h4>
            <ul v-if="editData.persona.checked && !developing">
              <li v-for="(items,index) in answerForm.persona" :key="index">
                <FormItem :label="'画像条件 '+ (index + 1)">
                  <Select v-model="items.conditionName" style="width:130px; margin-right: 5px">
                    <Option v-for="(item,i) in editData.persona.attributes" :value="item.value" :key="i">{{ item.name }}</Option>
                  </Select>
                  <Select v-model="items.relationValue" style="width:80px; margin-right: 5px">
                    <Option v-for="(item,i) in editData.persona.relations" :value="item.value" :key="i">{{ item.name }}</Option>
                  </Select>
                  <Input v-model="items.conditionValue" style="width: 130px;"/>
                  <div class="customBtns fr">
                    <Button class="custom minus" @click="minusOtherAttribute(answerForm.persona, index)" icon="minus-round"></Button>
                  </div>
                </FormItem>
              </li>
            </ul>
          </Tooltip>
          <h4 class="mgb10 clearfix">
            <Checkbox :disabled="isDefault" v-model="editData.productAttr.checked">关联商品属性</Checkbox>
            <div class="customBtns fr" v-if="editData.productAttr.checked">
              <Button class="custom plus" @click="plusOtherAttribute(answerForm.productAttr, editData.productAttr.attributes[0].value, editData.productAttr.relations[0].value)" icon="plus-round"></Button>
            </div>
          </h4>
          <ul v-if="editData.productAttr.checked">
            <li v-for="(items,index) in answerForm.productAttr" :key="index">
              <FormItem :label="'商品属性 '+ (index + 1)">
                <Select v-model="items.conditionName" style="width:130px; margin-right: 5px">
                  <Option v-for="(item,i) in editData.productAttr.attributes" :value="item.value" :key="i">{{ item.name }}</Option>
                </Select>
                <Select v-model="items.relationValue" style="width:80px; margin-right: 5px">
                  <Option v-for="(item,i) in editData.productAttr.relations" :value="item.value" :key="i">{{ item.name }}</Option>
                </Select>
                <Input v-model="items.conditionValue" style="width: 130px;"/>
                <div class="customBtns fr">
                  <Button class="custom minus" @click="minusOtherAttribute(answerForm.productAttr, index)" icon="minus-round"></Button>
                </div>
              </FormItem>
            </li>
          </ul>
          <div class="customFormItem clearfix">
            <Checkbox class="fl" v-model="editData.keyword.checked" :disabled="isDefault">关联关键字</Checkbox>
            <Input class="fr" v-if="editData.keyword.checked" style="width: 430px" v-model="answerForm.keyword"/>
          </div>
          <Checkbox class="mgt10" :disabled="isDefault" :true-value="1" :false-value="0" v-model="answerForm.missParam">关联缺失参数</Checkbox>
          <div class="customFormItem mgt20 clearfix" style="position: relative;">
            <Checkbox class="fl" :disabled="isDefault" v-model="answerNewData.paramExtract.checked" @on-change="selectParamExtract">计算函数</Checkbox>
            <Select class="fr" v-if="answerNewData.paramExtract.checked" style="width: 431px;" v-model="answerForm.paramExtract" :disabled="isDefault" placeholder="请选择计算函数" @on-change="changeParamExtract" clearable>
              <Option v-for="item in editData.paramExtract.items" :value="item.paramId" :key="item.paramId">{{ item.paramValue }}</Option>
            </Select>
          </div>
          <div class="customCheckbox mgb10" v-if="answerNewData.paramExtract.checked && answerForm.paramExtract !== ''">
            <el-checkbox-group v-model="errorCodes" size="small">
              <el-checkbox-button :disabled="isDefault" v-for="item in errorCode.items" :key="item.paramId" :label="item.paramId">{{ item.paramValue }}</el-checkbox-button>
            </el-checkbox-group>
          </div>
        </template>
      </Form>
    </div>
    <div slot="footer">
      <Button type="primary" :disabled="ui.isAjax" @click="saveEditAnswer">保存</Button>
      <Button type="text" @click="ui.showEditAnswer = false">取消</Button>
    </div>
  </Modal>
</div>
