<div class="amBox mgt20">
  <div class="com-main">
    <div v-for="(items, indexs) in dataList" :key="indexs">
      <h4 class="com-title mgt20">{{ items.groupName }}</h4>
      <Form class="customItems" label-position="left" :label-width="200">
        <template v-for="(item, index) in items.items">
          <FormItem :label="item.tagName">
            <Input v-if="item.tagType === '0'" v-model="item.tagValue"/>
            <Input v-if="item.tagType === '1'" style="width: 240px;" @on-keyup="changeLabelValue(item.tagValue, indexs, index)" v-model="item.tagValue"/>
            <template v-if="item.tagType === 'a'">
              <RadioGroup v-model="item.tagValue">
                <Radio v-for="(x,i) in item.options" :key="i" :label="x.key">{{ x.value }}</Radio>
              </RadioGroup>
              <div v-if="item.next === 1 && item.tagValue === item.nextOption" v-for="(x, i) in item.nexts" class="mgt10 clearfix" style="margin-left: -200px;">
                <span class="com-conf-label">{{ x.nextKey }}</span>
                <Input style="width: 500px; float: left;" v-if="x.valueType === 0" v-model="x.nextValue"/>
                <Input style="width: 240px; float: left;" v-if="x.valueType === 1" @on-keyup="changeValue(x.nextValue, indexs, index, i)" v-model="x.nextValue"/>
                <Input style="width: 500px; float: left;" v-if="x.valueType === 2" type="textarea" :rows="3" v-model="x.nextValue"/>
              </div>
            </template>
            <CheckboxGroup v-if="item.tagType === 'b'" v-model="item.tagValues">
              <Checkbox v-for="(x,i) in item.options" :key="i" :label="x.key">{{ x.value }}</Checkbox>
            </CheckboxGroup>
            <Input v-if="item.tagType === '2'" type="textarea" :rows="3" v-model="item.tagValue"/>
          </FormItem>
        </template>
      </Form>
    </div>
    <div class="mgt20">
      <Button type="success" icon="checkmark" @click="saveConf">保存</Button>
    </div>
  </div>
</div>
