<div>
  <div class="amHeader clearfix">
    <div class="search fl">
      <Input class="searchInput" v-model="listForm.buyerId" autocomplete="off" icon="search" placeholder="搜买家昵称" @on-click="getData" @on-enter="getData"/>
    </div>
  </div>
  <div class="amBox mgt20">
    <table class="aiTable">
      <thead>
      <tr>
        <th v-for="(item,index) in theadData" :key="item.index" :width="item.width">
          <div class="tdCell" :class="item.class">{{ item.name }}</div>
        </th>
      </tr>
      </thead>
      <tbody v-if="tbodyData.length">
      <tr v-for="(item,index) in tbodyData" :key="item.sizeTableId">
        <td>
          <div class="tdCell">{{ item.buyerId }}</div>
        </td>
        <td>
          <div class="tdCell ta-c">
            <span class="blueText" @click="editPortrait(item.buyerId, '查看买家画像')">查看</span>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody v-else="tbodyData.length">
      <tr>
        <td class="ta-c" :colspan="theadData.length">
          <div class="tdCell">暂无数据</div>
        </td>
      </tr>
      </tbody>
    </table>
    <Page v-if="ui.total > ui.pageSize ? true : false" class="mgt30 ta-c"
          :current="listForm.pageIndex"
          :page-size="ui.pageSize" :total="ui.total"
          show-total show-elevator
          @on-change="changePage"></Page>
    <!--info model-->
    <Modal class="customModal" v-model="ui.showEditModal" width="940" :mask-closable="false">
      <h2 class="modalTitle" slot="header">
        <span>{{ ui.infoTitle }}</span>
      </h2>
      <div class="modalBox" :style="{ maxHeight: modalHeight + 'px'}">
        <div class="modalMain">
          <Form ref="infoData" label-position="left" :model="infoData">
            <h4 class="ctitle">
              <span>基本信息</span>
            </h4>
            <ul class="baseList mgt10">
              <li v-for="item in infoData.base" :key="item.value">
                <span class="baseKey">{{ item.name }}:</span>
                <span class="baseValue">{{ item.value }}</span>
              </li>
            </ul>
            <h4 class="ctitle mgt20">
              <span>买家偏好</span>
            </h4>
            <table style="width: 50%" class="aiTable tableBorder">
              <thead>
              <tr>
                <th>
                  <div class="tdCell ta-c">商品属性</div>
                </th>
                <th>
                  <div class="tdCell ta-c">偏好值</div>
                </th>
                <th>
                  <div class="tdCell ta-c">厌恶值</div>
                </th>
              </tr>
              </thead>
              <tbody v-if="infoData.portrait.length">
              <tr v-for="(item,index) in infoData.portrait" :key="index">
                <td>
                  <div class="tdCell ta-c">{{ item.name }}</div>
                </td>
                <td>
                  <div class="tdCell ta-c">{{ item.pref }}</div>
                </td>
                <td>
                  <div class="tdCell ta-c">{{ item.hate }}</div>
                </td>
              </tr>
              </tbody>
              <tbody v-else="infoData.portrait.length">
              <tr>
                <td class="ta-c" :colspan="3">
                  <div class="tdCell">暂无数据</div>
                </td>
              </tr>
              </tbody>
            </table>
            <h4 class="ctitle mgt20">
              <span>当前关注</span>
            </h4>
            <ul class="baseList careList mgt20">
              <li v-for="item in infoData.consult" :key="item.value">
                <span class="baseKey">{{ item.name }}</span>
                <span class="baseValue">{{ item.value }}</span>
              </li>
            </ul>
            <h4 class="ctitle mgt20">
              <span>商品列表</span>
            </h4>
            <table class="aiTable tableBorder" style="width: 80%">
              <thead>
              <tr>
                <th v-for="(item, index) in goodsHeader" :key="index" :width="item.width">
                  <div class="tdCell" :class="item.class">{{ item.title }}</div>
                </th>
              </tr>
              </thead>
              <tbody v-if="infoData.goods.length">
              <tr v-for="(items,indexs) in infoData.goods" :key="indexs">
                <td>
                  <div class="tdCell"><a :href="items.link" target="_blank">{{ items.name }}</a></div>
                </td>
                <td>
                  <div class="tdCell ta-c">{{ items.askTime }}</div>
                </td>
                <td>
                  <div class="tdCell ta-c">{{ items.buyTime }}</div>
                </td>
                <td>
                  <div class="tdCell ta-c" v-if="items.status === 1">购买成功</div>
                  <div class="tdCell ta-c" v-else-if="items.status === 0">未购买</div>
                  <div class="tdCell ta-c" v-else-if="items.status === 2">未付款</div>
                </td>
                <td>
                  <div class="tdCell ta-c">{{ items.recommendSize }}</div>
                  <!--<ul class="tdCell ta-c">-->
                    <!--<li v-for="(item, index) in items.pres" :key="index">{{ item.name }}: {{ item.value }}</li>-->
                  <!--</ul>-->
                  <!--<div class="tdCell ta-c">{{ item.hate }}</div>-->
                </td>
              </tr>
              </tbody>
              <tbody v-else="infoData.goods.length">
              <tr>
                <td class="ta-c" :colspan="5">
                  <div class="tdCell">暂无数据</div>
                </td>
              </tr>
              </tbody>
            </table>
          </Form>
        </div>
      </div>
      <div slot="footer">
        <Button type="text" @click="ui.showEditModal = false">关闭</Button>
      </div>
    </Modal>
  </div>
</div>
