<div>
  <el-tabs type="border-card">
    <el-tab-pane label="账户信息">
      <div class="diy-label flex clearfix">
        <div class="diy-label-name">
          <span>账户名称</span>
        </div>
        <div class="flex1">
          panddd
        </div>
      </div>
      <div class="diy-label flex clearfix" v-if="1 > 0">
        <div class="diy-label-name">
          <span>一绑定手机</span>
        </div>
        <div class="flex1">
          <span>155234234</span>
          <span>接棒</span>
        </div>
      </div>
    </el-tab-pane>
    <el-tab-pane label="店铺详情">
      <div class="diy-label flex clearfix">
        <div class="diy-label-name">
          <span>已绑定店铺</span>
        </div>
        <div class="flex1">
          <span>minus</span>
          <span>plus</span>
        </div>
      </div>
      <div class="diy-label flex clearfix">
        <div class="diy-label-name">
          <span>速度原创工作室</span>
        </div>
        <div class="flex1">
          <span>minus</span>
          <span>plus</span>
        </div>
      </div>
    </el-tab-pane>
  </el-tabs>
</div>
